.stack-work
dist
.dist*
stack.yaml.lock
*.code-workspace
aern2-fun-plot/client/elm-stuff
aern2-fun-plot/aern2-fun-plot-example
aern2-fun-plot/assets/index.html
aern2-mp/*.cabal
aern2-real/*.cabal
aern2-erc/*.cabal
aern2-fun/*.cabal
aern2-mfun/*.cabal
